body {
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.gallery {
    width: 100vw;
    display: flex;
    justify-content: space-around;

}

.button {
    width: 250px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border: none
}